<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DTU Social</title>
<link href="/static/vender/bs/css/bootstrap.min.css" rel="stylesheet" />
<script src="/static/vender/jquery-3.3.1.min.js"></script>
<script src="/static/vender/popper.min.js"></script>
<script src="/static/vender/bs/js/bootstrap.min.js"></script>
<link href="/static/vender/fa/css/font-awesome.min.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>

<header id="myheader1">
	
	<div id="headfix">
       <nav class="navbar navbar-expand-md navbar-light fixed-top" >
           
            <a class="navbar-brand" href="#" style="background:linear-gradient(to right, #11998e, #38ef7d); background-clip: border-box;-webkit-background-clip: text; -webkit-text-fill-color: transparent;"><span class="fa fa-users  " style="color: white;"></span>  Soc Dist</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/social/home" style="color: white;" >HOME </a>
                    </li>
                  
                   
                    {% if user.is_authenticated %}
                    
                    <li class="nav-item">
                        <a class="nav-link " href="/social/mypost" style="color: white;">My Posts</a>
                    </li>            
                    <li class="nav-item">
                        <a class="nav-link" href="/social/myprofile" style="color: white;">Profiles</a>
                    </li>            
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/logout" style="color: white;">Logout</a>
                    </li>
                   
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login" style="color: white;">LOGIN</a>
                    </li>
                    
                    {% endif %}
        
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin" style="color: white;">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/social/profile/edit/{{ user.myprofile.id }}" style="color: white;">Edit Profile</a>
                        </li>
                    {% else %}
                        {% if user.is_authenticated %}
                                    <li class="nav-item">
                                    <a class="nav-link" href="/social/profile/edit/{{ user.myprofile.id }}" style="color: white;">Edit Profile</a>
                                    </li>
                        {% endif %}
                    {% endif %}
        
                    <!-- 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Action 1</a>
                            <a class="dropdown-item" href="#">Action 2</a>
                        </div>
                    </li>
                     -->
                </ul>
            </div>

           
    
        
</nav>	
	</div>
</header>




{% block content %}
{% endblock %}


</body>
</html>
